# DXA Kickstart Environment Properties
#

dxa.home=[YOUR DXA HOME]

# DXA Dist
#
dxa.installDir=${dxa.home}/install
dxa.downloadUrl=https://community.sdl.com/developers/tridion_developer/m/mediagallery/1241/download

# GIT
#
dxa.sourcedir=${dxa.home}/code
dxa.git.repostitory=https://github.com/NiclasCedermalm/dxa-web-application-java
dxa.git.branch=master
dxamodules.git.repository=https://github.com/NiclasCedermalm/dxa-modules
dxamodules.git.branch=master

# DXA Tomcat Server
#
dxa.tomcathome=${dxa.home}/dxa-tomcat
dxa.publicationId=[PUBLICATION ID]
dxa.hostname=localhost
dxa.httpPort=8080
dxa.ajpPort=8009
dxa.tomcatShutdownPort=8005
dxa.licensePath=[PATH TO LICENCES]/cd_licenses.xml
dxa.dbPath=${dxa.tomcathome}/db
dxa.incomingPath=/tmp/dxa/incoming
dxa.logPath=${dxa.tomcathome}/logs